app-header {
  display: flex;
}

app-code-block {

}

app-header {
  display: flex;
  font-size: 75%;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  align-items: center;
  color: #fd8616;
  background-color: rgb(65, 65, 65);
}

app-footer {
  display: flex;
  align-items: end;
  flex-direction: row;
  background-color: rgb(65, 65, 65);
  justify-content: space-between;
}

#buttons-grid {
  display: block;
  align-items: baseline;
  flex-direction: row;
  /*font-size: 75%;*/
  /*margin-right: 30px;*/
  justify-content: space-between;
}

#copy-buttons-grid {
  display: block;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-around;
}

