app-link-type {
  background-color: #673ab7;
  border-radius: 15%;
  margin-top: 10px;
  margin-right: 100px
}

app-copy-code {
  background-color: #673ab7;
  color: #b0bec5;
  border-radius: 25%;
  padding: 2px;
}

app-copy-link {
  color: #b0bec5;
  background-color: #673ab7;
  border-radius: 25%;
  padding: 2px;
}

.buttons-wrapper {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-top: 10px;
}
