/*app-language-type {*/
/*  background-color: rgb(65, 65, 65);*/
/*  color: #fd8616;*/
/*  !*width: 120px;*!*/
/*  !*height: 50px;*!*/
/*  !*margin-left: 50px;*!*/
/*}*/

app-theme {
  background-color: rgb(65, 65, 65);
  color: grey;
  /*width: 50px;*/
  /*height: 50px;*/
  border-radius: 100%;
  /*margin-left: 300px;*/
}

app-link-type {
  background-color: #fd8616;
  /*width: 150px;*/
  /*height: 50px;*/
  border-radius: 15%;
  /*margin-right: 30px;*/
}

app-copy-code {
  background-color: #fd8616;
  /*width: 75px;*/
  /*height: 50px;*/
  border-radius: 25%;
  padding: 2px;
}

app-copy-link {
  background-color: #fd8616;
  /*width: 75px;*/
  /*height: 50px;*/
  border-radius: 25%;
  padding: 2px;
}

.mat-select {
  color: #fd8616;
  background-color: rgb(65, 65, 65);
}

.mat-option {
  color: rgb(65, 65, 65);
  background-color: #fd8616;
}

.buttons-wrapper {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-top: 10px;
}
