::ng-deep .mat-select-value {
  color: #b0bec5;
}

::ng-deep .mat-select-arrow {
  color: #b0bec5;
}

::ng-deep .mat-select-panel {
  color: #b0bec5;
}

::ng-deep .mat-select-trigger {
  color: #b0bec5;
}

