@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/darcula.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

#wrapper {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100vh;
  width: 100vw;
}

ngx-codemirror {
  height: 50%;
  width: 100%;
}

/* Actually CodeMirror has a hardcoded height parameter of 300px
   so we setting a custom parameter*/
.CodeMirror {
  height: 80vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
